{% if current_user.is_authenticated %}
<div id='sideNavContraida' class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark d-none position-fixed" style="width: 64px; height: 100vh;">
    <div class="container p-0">
      <a class="navbar-brand" href="javascript:void(0)" onclick="desContraerSideNav()">
        <img src="{{ url_for('static', filename='img_templates/LogoNegativo2021 Contraido.png') }}" alt="Logo Empresa" width="32">
      </a>
    </div>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="{{ url_for('dashboard.index') }}" class="nav-link text-white px-0 text-center my-2" aria-current="page" >
        <i class="bi bi-house-fill align-middle me-1" style="font-size: x-large;"></i>
        </a>
      </li>
      <li class="nav-item">
        <a href="{{ url_for('cotizaciones_prueba.lista_cotizaciones') }}" class="nav-link text-white px-0 text-center my-2" aria-current="page" >
        <i class="bi bi-file-earmark-text-fill align-middle me-1" style="font-size: x-large;"></i>
        </a>
      </li>
      <li class="nav-item">
        <a href="{{ url_for('cotizaciones_prueba.cotizaciones_expandidas') }}" class="nav-link text-white px-0 text-center my-2" aria-current="page" >
        <i class="bi bi-file-ruled-fill align-middle me-1" style="font-size: x-large;;"></i>
        </a>
      </li>
      <li class="nav-item">
        <a href="{{ url_for('cotizaciones_prueba.prueba') }}" class="nav-link text-white px-0 text-center my-2" aria-current="page" >
        <i class="bi bi-bug-fill align-middle me-1" style="font-size: x-large;;"></i>
        </a>
      </li>
    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="{{ url_for('static', filename='authentication/avatares/'+current_user.foto) }}" alt="Foto del usuario {{ current_user.usuario }}" width="32" height="32" class="rounded-circle me-2">
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="#">...1</a></li>
        <li><a class="dropdown-item" href="#">...2</a></li>
        <li><a class="dropdown-item" href="#">...3</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{{ url_for('authentication.sign_out') }}">Salir de la sesión</a></li>
      </ul>
        
    </div>
  </div>
{% endif %}